.companyLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 10px;

  @media screen and (max-width: 950px){
    width: 95%;
    margin: 10px auto;
  }

  .case {
    width: 33.33%;
    padding: 38px 30px;

    @media screen and (max-width: 950px){
      padding: 38px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      /* Colors/Black */

      color: #000000;

      @media screen and (max-width: 950px){
        font-size: 13px;
        padding: 0;
        text-align: center;
      }
    }

    button {
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 8px;
      background: #4E59FF;
      border-radius: 4px;

      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */

        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* Colors/White */

        color: #FFFFFF;

        @media screen and (max-width: 950px){
          font-size: 13px;
          padding: 0;
          text-align: center;
        }
      }
    }
  }
}