.menu {
  background-color: $superLightGrey;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;

  .firstContainer {
    .imageContainer {
      height: 40px;
      margin: 40px 50px;

      img {
        object-fit: contain;
      }
    }
  }

}