.dashBoard {
  width: 100%;
  padding: 40px;
  padding-left: 340px;
  background-color: #FFFFFF;

  @media screen and (max-width: 950px) {
    padding-left: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 40px 40px 20px;

    @media screen and (max-width: 950px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      background-color: #F9F9F9;
    }

    .titleContainer {
      @media screen and (max-width: 950px) {
        width: 100%;
        padding: 0 25px;
        margin: 0px 0 20px 0;
      }
      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 36px;

        @media screen and (max-width: 950px) {
          font-size: 20px;
          width: 100%;
          background-color: #F9F9F9;
        }
      }
    }
  }


  .filterContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    gap: 10px;

    @media screen and (max-width: 1100px) {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      padding-top: 40px;
    }


    @media screen and (max-width: 950px) {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      padding: 20px 0;
    }

    .inputContainer {
      position: relative;
      width: 350px;
      height: 48px;

      @media screen and (max-width: 950px) {
        width: 90%;
        max-width: 350px;
        margin-top: 15px;
      }

      input {
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
        height: 100%;
        outline: none;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        border-radius: 6px;
        position: relative;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        &:focus + label {
          transform: translateY(-25px);
        }

        &.has-value + label {
          transform: translateY(-25px);
        }


      }

      label {
        position: absolute;
        left: 20px;
        top: 14px;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding: 0px 10px;
        background-color: #FFFFFF;
        transition: all .5s;
      }
    }
  }

  .content {

    width: 100%;

    .titleListContainer {
      display: flex;
      justify-content: center;
      padding: 20px;
      align-items: center;

      .title {
        width: 33.33%;

        @media screen and (max-width: 950px) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.06em;
          text-transform: uppercase;

          /* Colors/Grey */

          color: #686868;
        }
      }
    }
  }

}
